In [2]:
import pandas as pd
bfriday = pd.read_csv("C:/Users/skelenja/Desktop/Data_Science_Project/BlackFriday.csv")

In [3]:

bfriday.head(10)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,NaN,15227
6,1000004,P00184942,M,46-50,7,B,2,1,1,8.0,17.0,19215
7,1000004,P00346142,M,46-50,7,B,2,1,1,15.0,NaN,15854
8,1000004,P0097242,M,46-50,7,B,2,1,1,16.0,NaN,15686
9,1000005,P00274942,M,26-35,20,A,1,1,8,NaN,NaN,7871

In [4]:
bfriday.shape

(537577, 12)

In [5]:
bfriday['Stay_In_Current_City_Years'].value_counts()

1     189192
2      99459
3      93312
4+     82889
0      72725
Name: Stay_In_Current_City_Years, dtype: int64

In [10]:
bfriday.isnull().sum()

User_ID                       0
Product_ID                    0
Gender                        0
Age                           0
Occupation                    0
City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category_1            0
Product_Category_2            0
Product_Category_3            0
Purchase                      0
dtype: int64

In [7]:
b = ['Product_Category_2','Product_Category_3']

In [9]:
for i in b:
    exec("bfriday.%s.fillna(bfriday.%s.value_counts().idxmax(), inplace=True)" %(i,i))

In [11]:
X = bfriday.drop(["Purchase"], axis=1)

In [14]:
from sklearn.preprocessing import LabelEncoder#Now let's import encoder from sklearn library
LE = LabelEncoder()
X = X.apply(LE.fit_transform)#Here we applied encoder onto data

In [25]:
print(X.dtypes)

User_ID                       int64
Product_ID                    int64
Gender                        int64
Age                           int64
Occupation                    int64
City_Category                 int64
Stay_In_Current_City_Years    int64
Marital_Status                int64
Product_Category_1            int64
Product_Category_2            int64
Product_Category_3            int64
dtype: object

In [24]:
X.Gender = pd.to_numeric(X.Gender)
X.Age = pd.to_numeric(X.Age)
X.Occupation = pd.to_numeric(X.Occupation)
X.City_Category = pd.to_numeric(X.City_Category)
X.Stay_In_Current_City_Years = pd.to_numeric(X.Stay_In_Current_City_Years)
X.Marital_Status = pd.to_numeric(X.Marital_Status)
X.Product_Category_1 = pd.to_numeric(X.Product_Category_1)
X.Product_Category_2 = pd.to_numeric(X.Product_Category_2)
X.Product_Category_3 = pd.to_numeric(X.Product_Category_3)

In [26]:
Y = bfriday["Purchase"]

In [27]:
from sklearn.preprocessing import StandardScaler
SS = StandardScaler()
Xs = SS.fit_transform(X)

In [29]:
from sklearn.decomposition import PCA
pc = PCA(4)

In [30]:
principalComponents = pc.fit_transform(X)

In [35]:
pc.explained_variance_ratio_

array([  7.35761510e-01,   2.64215790e-01,   1.11932596e-05,
         6.28064654e-06])

In [33]:
principalDf = pd.DataFrame(data = principalComponents, columns = ["component 1", "component 2", "component 3", "component 4"])

In [36]:
from sklearn.model_selection import KFold
kf = KFold(20)

In [37]:
principalDf

        component 1  component 2  component 3  component 4
0      -2895.633508 -1069.904158     1.657171     1.756374
1      -2923.544450   633.866589     1.593156     5.185053
2      -2898.581776  -889.927431     1.588467    -2.768529
3      -2898.188633  -913.924505     1.595511    -7.543923
4      -2928.408851   991.836458     7.678072    -0.687174
5      -2912.618264    88.973454     6.665534     7.602042
6      -2910.208904     3.001052    -1.282858     2.469981
7      -2936.006810  1577.789109    -1.346039    -2.617232
8      -2940.560346  1855.751754    -1.357500    -3.386885
9      -2923.722562   888.899482    11.576684    -0.644243
10     -2919.906111   655.930307    11.610322    -1.538624
11     -2882.953620 -1599.766512    11.688205    -0.875898
12     -2885.689021 -1432.788922    11.680722    -0.860355
13     -2902.822200  -386.932134    11.679289    10.891428
14     -2915.711153   460.972115     0.670436     1.472490
15     -2909.077423    56.027003     0.691489     3.656231
16     -2938.462516  1849.783463     0.627255    10.107269
17     -2889.028679 -1167.809089     0.748546    -4.122058
18     -2884.588443 -1377.765317    -7.238909    -2.065063
19     -2916.643829   639.980894     3.662071     5.612797
20     -2911.959173   354.019468     3.656464    -3.926964
21     -2901.689143  -272.895804     3.658375    -0.726044
22     -2910.861745   287.029048     3.633284    -0.673924
23     -2910.976403   294.028109     3.632971    -0.673272
24     -2925.275885  1166.909781     3.641867     3.610152
25     -2897.331826  -477.851883     8.652599     0.251636
26     -2883.065138 -1348.734805     8.678149    -0.838686
27     -2901.475853  -224.886227     8.653970    -3.993349
28     -2889.158386  -976.785510     8.682542     1.379596
29     -2889.270994  -908.780508    -7.261841     8.107652
...             ...          ...          ...          ...
537547  1691.638324   660.466084    10.029073     8.040443
537548  1714.064538  -647.341298    -6.918299    -4.288453
537549  1676.424013  1650.348561    -6.932824     3.155369
537550  1688.119528   997.453005    -4.903466     2.948035
537551  1682.566862  1336.406040    -4.944205     5.231223
537552  1672.591661  1945.326280    -4.979630     0.513125
537553  1713.704633  -564.336750    -4.889145    -5.716632
537554  1714.572721  -617.330176    -4.852087    -3.993950
537555  1711.149447  -408.357537    -4.913364    -9.602579
537556  1702.598349   174.580872    12.008635    -5.430334
537557  1705.759543   -18.393522    12.051740     2.352635
537558  1717.520223  -736.297026    12.052437    -7.901702
537559  1716.373648  -666.306419    12.049300    -7.895187
537560  1719.289220  -844.282484    12.056281    -7.116227
537561  1720.321138  -907.274030    12.059104    -7.122091
537562  1710.280348  -294.357319    12.076665    -0.476284
537563  1708.986379  -215.366498    12.020140    -0.693471
537564  1715.014098  -583.317704    12.062810    -3.986997
537565  1724.497905 -1162.239417    12.062571    -0.781610
537566  1724.890994 -1186.236490    12.083859     0.730042
537567  1708.527781  -187.370550    12.024854    -5.464026
537568  1693.573154   725.507520    11.957765    -2.119776
537569  1729.018697 -1438.202969    12.101119    -4.066573
537570  1707.741515  -139.377776    12.071857    -3.518213
537571  1699.257939   439.559026     8.083728    11.003230
537572  1703.762324   164.598384     8.091812     7.628764
537573  1717.046287  -646.293425     8.141082    -2.788565
537574  1679.405911  1651.398885     7.990955    -6.107086
537575  1688.906046  1071.476768     8.030192     0.921505
537576  1715.883326  -575.302216     8.103986     0.768217

[537577 rows x 4 columns]

In [38]:
for a,b in kf.split(principalDf):
    X_train, X_test = Xs[a],Xs[b]
    y_train, y_test = Y[a],Y[b]

In [40]:
y_train

0          8370
1         15200
2          1422
3          1057
4          7969
5         15227
6         19215
7         15854
8         15686
9          7871
10         5254
11         3957
12         6073
13        15665
14         5378
15         2079
16        13055
17         8851
18        11788
19        19614
20         8584
21         9872
22         9743
23         5982
24        11927
25        16662
26         5887
27         6973
28         5391
29        16352
          ...
510669    11692
510670     4261
510671     3976
510672     8680
510673     7193
510674     2842
510675     7083
510676     1861
510677     3611
510678     7166
510679     1060
510680     7163
510681    11567
510682     4431
510683     9886
510684     8282
510685    10676
510686    15684
510687    15284
510688     4525
510689     7958
510690     3997
510691     9778
510692     7937
510693     8125
510694     7957
510695     7973
510696    10004
510697    11977
510698     3216
Name: Purchase, Length: 510699, dtype: int64

In [41]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor

In [42]:
lr = LinearRegression()
dtr = DecisionTreeRegressor()
rfr = RandomForestRegressor()
gbr = GradientBoostingRegressor()

In [ ]:
fit1 = lr.fit(X_train,y_train)#Here we fit training data to linear regressor
fit2 = dtr.fit(X_train,y_train)#Here we fit training data to Decision Tree Regressor
fit3 = rfr.fit(X_train,y_train)#Here we fit training data to Random Forest Regressor
fit4 = gbr.fit(X_train,y_train)#Here we fit training data to Gradient Boosting Regressor

In [ ]:
print("Accuracy Score of Linear regression on train set",fit1.score(X_train,y_train)*100)
print("Accuracy Score of Decision Tree on train set",fit2.score(X_train,y_train)*100)
print("Accuracy Score of Random Forests on train set",fit3.score(X_train,y_train)*100)
print("Accuracy Score of Gradient Boosting on train set",fit4.score(X_train,y_train)*100)

In [ ]:
print("Accuracy Score of Linear regression on test set",fit1.score(X_test,y_test)*100)
print("Accuracy Score of Decision Tree on test set",fit2.score(X_test,y_test)*100)
print("Accuracy Score of Random Forests on test set",fit3.score(X_test,y_test)*100)
print("Accuracy Score of Gradient Boosting on testset",fit4.score(X_test,y_test)*100)